/*				 -->		 <--						*/
/*				-->	INDEX	<--						*/
/*	 -->	coming-soon.scss  <--		*/
/*    1. partial imports          */
/*    2. flexed elements          */
/*    3. forms                    */
/*    4. buttons                  */
/*    5. font control             */
/* partial imports */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*	F5MG Variables  */
/* color scheme */
/*	     F5MG "MIXOLOGY"          */
/*				  -->		<--						*/
/*				-->	INDEX	<--						*/
/*	   -->	mix.scss  <--		      */
/*    1. Element Creation for BEM */
/*    2. padding & margin         */
/*    3. Media Queries            */
/*    4. Flex Box                 */
/* Element Creation for BEM */
/* padding & margin */
/* Media Queries */
/* Flex Box */
/* flexed elements */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #4d4d4d; }
  @media only screen and (min-width: 768px) {
    .flex-container {
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap; } }
  .flex-container__item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }

/* forms */
.form {
  padding: 1em;
  height: auto;
  background-color: #eeeeee; }
  @media only screen and (min-width: 768px) {
    .form {
      padding: 1em 4em; } }
  .form__functions {
    padding: 0.5em 0; }
    @media only screen and (min-width: 768px) {
      .form__functions {
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: start;
        -moz-justify-content: start;
        -ms-justify-content: start;
        justify-content: start;
        -ms-flex-pack: start; } }
  .form__input {
    margin: 0 1em 1em 0;
    padding: 0 0.5em;
    height: 2.5em; }
    @media only screen and (min-width: 768px) {
      .form__input {
        height: auto;
        padding: 0.5em; } }

/* buttons */
.btn {
  border: none;
  cursor: pointer;
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  transition: all 0.5s;
  padding: 0 0.5em; }
  .btn:focus {
    outline: 0; }
  @media only screen and (min-width: 768px) {
    .btn {
      padding: 0 2em; } }

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s; }

.btn:hover span {
  padding-right: 15px; }

.btn:hover span:after {
  opacity: 1;
  right: 0; }

/* font control */
html {
  font-size: 1em; }

body {
  font-family: Helvetica, Arial, "sans-serif";
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Khand", sans-serif;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 6.854em; }

h2 {
  font-size: 4.236em; }

h3 {
  font-size: 2.618em; }

h4 {
  font-size: 1.618em; }

small, .font_small {
  font-size: 0.618em; }
