/*	F5MG MIXOLOGY  */



/* Flex Box */

@mixin flex($row: true, $col: true) {
	@if $row {
	 display: -webkit-flex;
   display: flex;
	 flex-flow: column nowrap;
	 background-color: black;
 }
 @if $col {
  display: -webkit-flex;
  display: flex;
	flex-flow: row nowrap;
 }
}

/* margin and padding by percent */

@mixin auto-pad-mar {}



/* Media Queries */

@mixin small() {
    @media only screen and (max-width: 328px) {
        @content;
    }
}

@mixin medium() {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin large() {
    @media only screen and (min-width: 1000px) {
        @content;
    }
}