/*	F5MG MIXOLOGY  */


/* Flex Box */

%row { flex-direction: row; }
%flex {display: flex;}
%col { flex-direction: column; }
%wrap { flex-wrap: wrap; }
%no-wrap { flex-wrap: no-wrap; }
%jcenter { justify-content: center; }
%acenter { align-items: center; }
%start { justify-content: flex-start; }
%end { justify-content: flex-end; }


@mixin flex($items) {
    @each $item in $items {
        @extend %#{$item};
    }
}


/* Element Creation for BEM */

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

/* padding & margin */

@mixin padding($values...) {    
    @each $var in $values {
        padding: #{$var};
    }
}

@mixin margin($values...) {    
    @each $var in $values {
        margin: #{$var};
    }
}


/* Media Queries */

@mixin small() {
    @media only screen and (max-width: 328px) {
			@content;
    }
}

@mixin medium() {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin large() {
    @media only screen and (min-width: 1000px) {  
			@content;
    }
}