/*	F5MG Variables  */

/* Google Font Imports */

@import url(//fonts.googleapis.com/css?family=Khand:400,700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,700);
@import url(//fonts.googleapis.com/css?family=Permanent+Marker);

$khand: 'Khand', sans-serif;
$oswald: 'Oswald', sans-serif;
$marker: 'Permanent Marker', cursive;

/* Font Size Control */

html {font-size: 1em;}

body {
  font-family: Helvetica, Arial, "sans-serif";
  font-weight: 400;
  line-height: 1.45;  
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
	font-family: $khand;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}


/* color scheme */
$light-green: #6cd42a;
$dark-green: #00471B;
$light-grey: #eeeeee;
$dark-grey: #4d4d4d;
$grey: #9f9f9f;


