/*	F5MG Variables  */

/* Google Font Imports */

@import url('https://fonts.googleapis.com/css?family=Khand:400,700|Oswald:400,700|Permanent+Marker');

$khand: 'Khand', sans-serif;
$oswald: 'Oswald', sans-serif;
$marker: 'Permanent Marker', cursive;



/* color scheme */

$primary-color: #9f9f9f;
$primary-color-lt: #eeeeee;
$primary-color-drk: #4d4d4d;
$secondary-color: #6cd42a;
$secondary-color-drk: #00471B;



