/* Partial Imports */
@import url(//fonts.googleapis.com/css?family=Khand:400,700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,700);
@import url(//fonts.googleapis.com/css?family=Permanent+Marker);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*	F5MG Variables  */
/* Google Font Imports */
/* Font Size Control */
html {
  font-size: 1em; }

body {
  font-family: Helvetica, Arial, "sans-serif";
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: "Khand", sans-serif;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 6.854em; }

h2 {
  font-size: 4.236em; }

h3 {
  font-size: 2.618em; }

h4 {
  font-size: 1.618em; }

small, .font_small {
  font-size: 0.618em; }

/* color scheme */
/*	F5MG MIXOLOGY  */
/* Flex Box */
/* margin and padding */
/* Media Queries */
/* elements */
.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #4d4d4d; }

.flex-container__item {
  flex: 1 1 auto; }

@media only screen and (min-width: 768px) {
  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap; } }
.form {
  background-color: #eeeeee;
  padding: 5% 2.5%;
  margin: 0 auto;
  padding: 10% 5%;
  margin: 0 auto; }

.form__inputs {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  padding: 5% 2.5%;
  margin: 0 auto;
  padding: 10% 5%;
  margin: 0 auto; }

.form__submit-button {
  cursor: pointer; }
