/*				 -->		 <--						*/
/*				-->	INDEX	<--						*/
/*	 -->	coming-soon.scss  <--		*/

/*    1. partial imports          */
/*    2. flexed elements          */
/*    3. main layout elements     */
/*    4. forms                    */
/*    5. buttons                  */
/*    6. banners                  */
/*    7. font control             */






/* partial imports */

@import 'var';
@import 'reset';
@import 'mix';

html, body {height: 100%;}




/* flexed elements */

.flexed {
	@include flexbox;
	@include flex-flow(column nowrap);
	@include justify-content(center);

		@include e(item) {
			@include flexbox;
			@include flex-flow(column nowrap);
			@include justify-content(center);
			@include flex( 1 1 auto);
		}
}




/* header */

.header {
	background-color: $primary-color-drk--opacity-75;
	color: $secondary-color;
	@include flexbox;
	@include flex-flow(row nowrap);
	@include justify-content(flex-start);
	z-index: 100;
	width: 100%;
	position: fixed;
	
	@include e(title) {
		font-family: $khand;
		font-size: 1.5em;
		@include padding(0 1em);
		@include margin(0);
		
		@include medium {
		font-size: 2em;
		line-height:1.5;
		}
		
		@include large {
			
		}
	}
	
	@include e(stripe) {
		background-color: $secondary-color;
		left:0;
		position: relative;
		width: 1em;
		display: block;
	}
}


.main {
	@include flexbox;
	@include flex-flow(column nowrap);
	background-image: url(../images/sunset-man-mountain.jpg);

	@include medium {
		.main {
			@include flex-flow(row nowrap);
		}
	}
}


.parallax { 
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		
		@include medium () {
		.parallax {background-attachment: fixed;}
		}
}





/* forms */

.form {
	@include flexbox;
	@include flex-direction(column);
	@include padding(1em);
	height: auto;
	background-color: $primary-color-lt; 
	@include medium {
		@include padding(1em 4em);
	}
	
		@include e(functions) {
			@include padding(.5em 0);
			@include flexbox;
			@include flex-direction(column);
			@include medium {
				@include flex-direction(row);
				@include justify-content(start);
			}
		}

		@include e(input) {
			@include margin(0 1em 1em 0);
			@include padding(0 .5em);
			height: 2.5em;
			@include medium {
				@include padding(.5em);
			}
		}
	
		@include e(error) {
			
	}
}

.form-response {
	@include flexbox;
	@include flex-direction(column);
	@include padding(1em);
	height: auto;
	background-color: $primary-color-lt; 
	@include medium {
		@include padding(1em 4em);
	}
	
	@include e(message) {
		
	}
}




/* buttons */

.btn {
  border: none;
  cursor: pointer;
	background-color: $primary-color-drk;
	color: white;
  text-align: center;
  transition: all 0.5s;
	@include padding(0 .5em);
	@include margin( 0.25em 0);
	&:focus {outline:0;}
	&:hover { background-color: $secondary-color; }
	@include medium {
		@include padding(0 1em 0 2em)
	}
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -5px;
	font-size: 1.5em;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 5px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}








/* font control */

html {font-size: 1em;}

body {
  font-family: Helvetica, Arial, "sans-serif";
  font-weight: 400;
  line-height: 1.45;  
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
	font-family: $oswald;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}




