/* Partial Imports */
@import 'reset';
@import 'var';
@import 'mix';
@import 'font-elements';

/* elements */
.flex-container {
	@include flex ((
		flex,
		col,
		));
	background-color: $dark-grey;
	@include medium {
		
	}
	
	@include medium {
		.flex-container {
		
		}
	}
	
	@include e(item) {
		@include flex ((
		flex,
		col,
		));
		flex: 1 1 auto;
	}
}

	





.form {
	@include padding(1em 4em);
	height: auto;
	background-color: $light-grey;

	@include e(functions) {
		
		@include padding(.5em 0);
		
		@include medium {
			
		}
		
	}
	 
	@include e(input) {
		@include margin(0 1em 1em 0);
	}
	
	@include e(submit-btn) {
		cursor: pointer;
	}
}

