/*				 -->		 <--						*/
/*				-->	INDEX	<--						*/
/*	 -->	coming-soon.scss  <--		*/

/*    1. partial imports          */
/*    2. flexed elements          */
/*    3. forms                    */
/*    4. buttons                  */
/*    5. font control             */






/* partial imports */

@import 'var';
@import 'reset';
@import 'mix';





/* flexed elements */

.flex-container {
	@include flexbox;
	@include flex-flow(column nowrap);
	@include justify-content(center);
	background-color: $primary-color-drk;
	
		@include medium {
				@include flex-flow(row nowrap)
		}

		@include e(item) {
			@include flexbox;
			@include flex-flow(column nowrap);
			@include justify-content(center);
			@include flex( 1 1 auto);
		}
}

	



/* header */

.header {
	background-color: $primary-color-drk;
	color: $secondary-color;
	@include flexbox;
	@include flex-flow(column nowrap);
	@include justify-content(center);
	
	@include medium {
		@include flex-flow(row nowrap);
		@include justify-content(flex-start);
	}
	
	@include e(title) {
		font-family: $khand;
		font-size: 3em;
		@include padding(0 1em);
		@include margin(0);
	}
}

/* forms */

.form {
	@include padding(1em);
	height: auto;
	background-color: $primary-color-lt; 
	@include medium {
		@include padding(1em 4em)
	}
	
		@include e(functions) {
			@include padding(.5em 0);
			@include medium {
				@include flex-flow(row nowrap);
				@include justify-content(start);
			}
		}

		@include e(input) {
			@include margin(0 1em 1em 0);
			@include padding(0 .5em);
			height: 2.5em;
			@include medium {
				height: auto;
				@include padding(.5em)
			}
		}
}





/* buttons */

.btn {
  border: none;
  cursor: pointer;
	background-color: $primary-color-drk;
	color: white;
  text-align: center;
  transition: all 0.5s;
	@include padding(0 .5em);
	&:focus {outline:0;}
	&:hover { background-color: $secondary-color; }
	@include medium {
		@include padding(0 2em)
	}
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
	font-size: 1em;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 15px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}




/* font control */

html {font-size: 1em;}

body {
  font-family: Helvetica, Arial, "sans-serif";
  font-weight: 400;
  line-height: 1.45;  
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
	font-family: $oswald;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 6.854em;
}

h2 {font-size: 4.236em;}

h3 {font-size: 2.618em;}

h4 {font-size: 1.618em;}

small, .font_small {font-size: 0.618em;}




