/* Partial Imports */
@import 'reset';
@import 'var';
@import 'mix';




.js-postcard-menu{
	@include flexbox;
	@include flex-flow(column nowrap);
	@include justify-content(center);
	background-color: $secondary-color;
	transform: translateY(0);
	transition-duration: .3s;

	@include e(hidden) {
		transform: translateY(-100%);
		transition-duration: .3s;
	}
}

.js-social-widget{
	@include flexbox;
	@include flex-flow(column nowrap);
	@include justify-content(center);
	position: fixed;
	bottom: 0;
	left: 0;
	height: auto;
	min-height: 6em;
	width: 3em;
	background-color: $primary-color-drk;
	transform: translateX(-100%);
	transition-duration: 3s;
	z-index: 100;
}

	@include medium {
		.js-social-widget{
			bottom: 6em;
			transform: translateX(-100%);
			transition-duration: 3s;
		}
		
		.js-social-widget--hidden {
		transform: translateX(0);
		transition-duration: 3s;
}
	}

.js-social-widget__icon {}
